{% extends "layout.html" %} {% block title %}Phone Geolocation{% endblock %} {% block content %}
<main class="my-5 px-4">
    <div class="mx-auto max-w-7xl">
        {% with parent = 'Phone Geolocation', parent_route = 'phone_geolocation.index', current_page = 'Results'  %}
            {% include "components/common/breadcrumb.html" %}
        {% endwith %}
    </div>
    <div class="mx-auto max-w-7xl">
        <h1 class="text-2xl font-medium mb-3 flex items-center">Phone Geolocation: {{ details['number'] }}</h1>

        <div class="mt-3">
            {% with title = 'Phone Information', data = details['data'] %}
                {% include "components/tables/simple_table.html" %}
            {% endwith %}
        </div>

    </div>
</main>
{% endblock %}
