{% extends "layout.html" %} {% block title %}IP Geolocation{% endblock %} {% block content %}
<main class="my-5">
    <div class="mx-auto max-w-7xl">
        {% with parent = 'IP Geolocation', parent_route = 'ip_geolocation.index', current_page = 'Results'  %}
            {% include "components/common/breadcrumb.html" %}
        {% endwith %}
    </div>
    <div class="mx-auto max-w-7xl" x-data="ipGeolocation">
        <h1 class="text-2xl font-medium mb-3 flex items-center">IP Geolocation: {{ details['ip'] }} <img src="{{ details['country_flag_url'] }}" class="w-6 ml-2"></h1>

        <iframe src="{{ url_for('static', filename='map.html') }}" frameborder="0" class="w-full h-[300px]"></iframe>

        <div class="mt-3">
            {% with title = 'IP Information', data = details['data'] %}
                {% include "components/tables/simple_table.html" %}
            {% endwith %}
        </div>
    </div>
</main>
{% endblock %}
